@model WebBanSua.Models.TblTinTuc

@{
    ViewData["Title"] = "Thông tin: " + Model.Title;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="page-header">
        <p class="card-description">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index"><code>Home</code></a><code>> Quản lý tin đăng</code><code>> Thông tin</code>
        </p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a class="btn-sm btn-success " asp-controller="AdminTblTinTucs" asp-action="Edit" asp-route-id="@Model.PostId">
                        <i class="fas fa-plus"></i>
                        Cập nhật
                    </a>
                </li>

            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thông tin bài đăng: @Model.Title</h4>

                    <table class="table table-bordered">
                        <tr>
                            <td style="width:80px">
                                #ID
                            </td>
                            <td>
                                @Model.PostId
                            </td>
                        </tr>
                        <tr>
                            <td style="width:80px">
                                Hình ảnh
                            </td>
                            <td>
                                <img width="400" height="400" src="~/images/news/@Model.Thumb" alt="error" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50px">
                                Tiêu đề
                            </td>
                            <td>
                                @Model.Title
                            </td>
                        </tr>

                        <tr>
                            <td style="width:50px">
                                Tác giả
                            </td>
                            <td>
                                @Model.Author
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50px">
                                Người đăng
                            </td>
                            <td>
                                @Model.Account.FullName
                            </td>
                        </tr>
                        
                        <tr>
                            <td style="width:50px">
                                MetaDesc
                            </td>
                            <td>
                                @Model.MetaDesc
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50px">
                                MetaKey
                            </td>
                            <td>
                                @Model.MetaKey
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50px">
                                Alias
                            </td>
                            <td>
                                @Model.Alias
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50px">
                                Active
                            </td>
                            <td>
                                @if (Model.Published)
                                {
                                    <div>
                                        <i class="mdi mdi-toggle-switch btn-outline-success"></i> Publish
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <i class="mdi mdi-toggle-switch-off btn-outline-danger"></i> None
                                    </div>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td style="width:50px">
                                Tin hot
                            </td>
                            <td>
                                @if (Model.IsHot)
                                {
                                    <div>
                                        <i class="mdi mdi-toggle-switch btn-outline-success"></i> Tin hot
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <i class="mdi mdi-toggle-switch-off btn-outline-danger"></i> None
                                    </div>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td style="width:50px">
                                Tin mới
                            </td>
                            <td>
                                @if (Model.IsNewfeed)
                                {
                                <div>
                                    <i class="mdi mdi-toggle-switch btn-outline-success"></i> Tin mới
                                </div>
                                }
                                else
                                {
                                    <div>
                                        <i class="mdi mdi-toggle-switch-off btn-outline-danger"></i> None
                                    </div>
                                }

                            </td>
                        </tr>
                       
                        <tr>
                            <td style="width:50px">
                                Ngày tạo
                            </td>
                            <td>
                                @Model.CreatedDate
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
